body {
    background-color: #E9EDEE;
    font-family: Arial, Helvetica, sans-serif;
}

#primalinea {
    background-color: #222F3F;
    padding: 0.5em 0 1.5em 2em;
}

#primalinea img {
    width: 10%;
}

#secondalinea li{
    display: inline-block;
    padding: 0.5em;
}

#secondalinea {
    background-color: #364759;
    color: white;
    padding: 0 0 0 1.5em;
    font-size: 110%;
}

a {
    text-decoration: none;
    color: white;
}

#terzalinea {
    background-color: #F56600;
    margin: 2em;
    color: #FFE7D1;
    text-align: center;
    padding: 1em;
    font-size: 110%;
}

#quartalinea {
    background-image: url(../img/bg-image.png);
    margin: 2em;
    text-align: center;
    padding: 4em;
    background-size: contain;

   
    
}

#Holiday {
    color: white;
    font-size: 250%;
    font-weight: bold;
    
}

#Holiday2 {
    color: white;
    font-weight: bold;
    padding: 2em 0 1em 0;
    font-size: 150%;
    
}


div.foto {
    display: inline-block;
    border-radius: 10%;
    width: 25%;
   
    
}

a.linkamazon {
    color: #145051;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
    display: inline-block;
    padding: 0 0 0 1em;
}

h2.titolifoto {
    font-size: 150%;
    display: inline-block;        
}

#contenitorefoto {
    background-color: white;
    margin: 2em;
    padding: 1.5em;
}

#contenitorefoto2 {
    margin: 1em 2em 1em 2em;
    text-align: center;    
}

#contenitorefoto3 {
    margin: 4em 2em;
    text-align: center;
    
}

#backtotop {
    font-size: 130%;
    text-decoration: underline;
    
}

#penultimariga {
    background-color: #364759;
    text-align: center;
    padding: 1em;
}

#ultimariga {
    text-align: center;
    padding: 4em;
    background-color: #222F3F;
    
}

.contenitorefotointerno {
    text-align: center;
    margin: auto;
    padding: 2em 0;
    background-color: white;
}
.fotointerna {
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 22%;
    border-radius: 10px;
    height: 25vw;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    vertical-align: top;
    margin: 1%;
}

#n1 {
    background-image: url(../img/img_1.jpg);
}

#n2 {
    background-image: url(../img/img_2.jpg);
}

#n3 {
    background-image: url(../img/img_3.jpg);
}

#n4 {
    background-image: url(../img/img_4.jpg);
}